// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');


// Import
@import 'functions';
@import 'variables';
@import 'variables-dark';
@import 'mixins';

$custom-theme-colors:(
    "rdm": #880000,
    "rdm-dark": #440000
);

$theme-colors: map-merge($custom-theme-colors , $theme-colors );

//custom variables
$primary: #790000;

// Bootstrap
@import 'bootstrap/scss/bootstrap';
